numpy==1.13.3
olefile==0.44
Pillow==4.3.0
PyYAML==3.12
six==1.11.0
#torch==0.1.12.post2
https://download.pytorch.org/whl/cu75/torch-0.1.12.post2-cp36-cp36m-linux_x86_64.whl
torchvision==0.1.6
tensorflow==1.9.0
h5py
scikit-learn
tqdm